
<div class="contenedor-padre">
  <div class="contenedor">
    <h1><span class="gris">Bienvenidos a </span><span class="azul">Unicomer</span></h1>
  </div>
  <div class="otro-contenedor">
<div class="bootstrap-wrapper">
  <div class="container">
        <mat-card style="margin-top: 20px; padding: 50px;">
          <div class="container text-center">
            <img class="img-fluid"
            src="../../../assets/acceso.png"
            width="100"
            height="100"
          />
            <h1 class="text-center">Iniciar sesión</h1>
            <form (ngSubmit)="onSubmit()">
              <mat-form-field appearance="outline">
                <mat-label>Dni:</mat-label>
                <input type="number" matInput required [(ngModel)]="usuario.dni" name="dni" 
                  placeholder="Ingrese su Dni" />
              </mat-form-field>
              <br /><br />
              <mat-form-field appearance="outline">
                <mat-label>Clave:</mat-label>
                <input type="password" matInput required [(ngModel)]="usuario.password" name="password"
                 placeholder="Ingrese su clave" />
              </mat-form-field>
              <div class="container text-center">
                <button type="submit" mat-raised-button color="primary">
                  Ingresar
                </button>
                <button type="reset" style="margin-left: 20px" mat-raised-button color="blue">
                  Limpiar
                </button>
              </div>
            </form>
            <br>
            <button color="accent" (click)= "registrarse()" style="margin-left: 20px" mat-raised-button>
              Registrarse
            </button>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</div>


